In [60]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('categories.csv', sep=';')

In [5]:
data

         id                                   title              category
0         0                                      ND            Нет Данных
1    110005                                 Фэнтези  Фантастика и фентези
2    110028                            Публицистика          Публицистика
3    110020            Деятели культуры и искусства             Искусство
4    110011              Детективный роман. Триллер              Детектив
..      ...                                     ...                   ...
325  110159            Другие общественные предметы                 Наука
326  110172                           ЕГЭ, ОГЭ, ВПР              Обучение
327  110376          Страхование. Социальная работа                Прочее
328  110174                        Подготовка к ОГЭ              Обучение
329  110043  Зарубежные фэнтези, фантастика и ужасы  Фантастика и фентези

[330 rows x 3 columns]

In [6]:
data.category.nunique()

18

In [32]:
cats = pd.Series(data.category.unique())

In [24]:
cats['id'] = pd.Series([x for x in range(data.category.nunique())])

In [35]:
cats_dict = cats.to_dict()

In [34]:
data['cat_id'] =

         id                                   title              category
0         0                                      ND            Нет Данных
1    110005                                 Фэнтези  Фантастика и фентези
2    110028                            Публицистика          Публицистика
3    110020            Деятели культуры и искусства             Искусство
4    110011              Детективный роман. Триллер              Детектив
..      ...                                     ...                   ...
325  110159            Другие общественные предметы                 Наука
326  110172                           ЕГЭ, ОГЭ, ВПР              Обучение
327  110376          Страхование. Социальная работа                Прочее
328  110174                        Подготовка к ОГЭ              Обучение
329  110043  Зарубежные фэнтези, фантастика и ужасы  Фантастика и фентези

[330 rows x 3 columns]

In [44]:
def items(data):
    for k, v in cats_dict.items():
        if data == v:
            return k

In [48]:
data['cat_id'] = data.category.apply(items)

In [70]:
data.loc[data.title=='Кошки']

         id  title  category  cat_id
102  110259  Кошки  Обучение       7

In [55]:
import psycopg2 as ppg
from dotenv import load_dotenv
import os

In [62]:
len(np.array(data.cat_id))

330

In [69]:
load_dotenv('.env')
for id_, i in zip(np.array(data.id), np.array(data.cat_id)):
    with ppg.connect(database='Books_', user=os.getenv('USER'), password=os.getenv("PASSWORD")) as conn:
        query = """UPDATE category SET cat_id = %s WHERE id = %s;
        """
        with conn.cursor() as cur:
            cur.execute(query, (int(i), int(id_)))

In [ ]:
#